.center
  %h2 Address Book
#container
  %table.center
    %tr
      %th First Name
      %th Last Name
      %th Company
      %th Phone Number
      %th Email
      %th Actions

    - @people.each do |person|
      %tr
        %td
          = person.first_name
        %td
          = person.last_name
        %td
          = person.company
        %td
          = person.phone
        %td
          = person.email
        %td
          %ul
            %li
              %a{:href => "/#{person.id}/edit"}Edit this person
            %li
              %form{:method => "post", :action => "/#{person.id}"}
                %input{:type => "hidden", :name => "_method", :value => "delete"}
                %input{:type => "submit", :value => "Delete"}

  %p
    %h3.right
      %a{:href => '/new'}New Contact